*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://cdn.discordapp.com/attachments/583999246198374421/1185258329489035344/backiee-70124-landscape.jpg?ex=658ef4d6&is=657c7fd6&hm=b8213de0a1d266ac41fa37f8077f775a844d60d7d014f3b46415fce64490e444&") no-repeat center center/cover;
    height: 100vh;
}

.container
{
    color: white;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(0, 0 , 0, 0.2);
}
.top
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}
#counter
{
    font-family: 'Montserrat', sans-serif;
}
#timer
{
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}
.button
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.btn 
{
    
    padding: 10px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    font-family: 'Montserrat';

}
.btn:hover
{
    color: white;
    background-color: transparent;
    cursor: pointer;
    
}
