*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
:root
{
    --background-var: url("https://cdn.discordapp.com/attachments/583999246198374421/1187300458205823056/negative-space-assorted-fall-leaves.jpg?ex=659662b8&is=6583edb8&hm=918ee36f8701ddad506694abaa2bb458e71e28f5ea890ae5faa18e00cee66b8d&");
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-var) no-repeat center center/cover;
    height: 100vh;
}
html
{
    font-size: 62.5%;
}

 
.container
{
    color: white;
    width: 50%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    background-color: rgba(0, 0 , 0, 0.5);
}

.top
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}
#counter
{
    font-family: 'Montserrat', sans-serif;
}
#timer
{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-size: 12rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2rem;
}
.button
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.btn 
{
    
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: white;
    font-family: 'Montserrat';

}
.btn:hover
{
    color: white;
    background-color: transparent;
    cursor: pointer;
    
}
#modal-container
{
    display: none;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0, .2);
}
#modal
{
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3rem;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    animation-name: modalAnimation;
    animation-duration: .4s;

}

#setting-header
{
    height: 5%;
    width: 100%;
}
#setting-body
{
    height: 75%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
#setting-footer
{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
}
.setting-section
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    border-bottom: 2px solid white;
}
.section-header
{
    display: flex;
    font-size: 2rem;
    font-family: 'Montserrat';
    width: 40%;
    text-align: left;
    align-items: center;
    
}
.section-body
{
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
}
.section-body-1
{
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 10px;
}
.section-body-title
{
    font-size: 1.5rem;
    font-family: 'Montserrat';
}
input
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 90%;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 2px;

}
.section-body-1 input
{
    height: 2rem;
    width: 30%;
}
select
{
    height: 3rem;
    width: 90%;
    font-family: 'Montserrat';
    color: white;
    background-color: black;
}
@keyframes modalAnimation {
    from
    {
        top: -300px;
        opacity: 0;
    }

    to{
        top: 50%;
        opacity: 1;
    }
}

@media (max-width: 768px) {

    .container 
    {   
        width: 90%;
    }
    #timer
    {
        font-size: 8.5rem;
    }
    .btn
    {
        font-size: 1.5rem;
    }
    #modal
    {
        width: 90%;
    }
}
